{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hi, </p> 
        <p>I'm <b>Yemi Balogun</b>, a web developer who is passionate about all things tech. I've always been fascinated by the power of the internet and the endless possibilities it offers, and I'm constantly seeking out new ways to leverage technology to create amazing digital content.</p>

        <p>As a web developer, I'm well-versed in a wide range of programming languages and tools, including HTML, CSS, JavaScript, Python, and more. I love using my skills to build dynamic, engaging websites and applications that connect people, solve problems, and make life easier.</p>
          
        <p>But my passion doesn't stop at development - I'm also a huge fan of digital content around tech. I'm always on the lookout for the latest news, trends, and innovations in the tech world, and I love sharing my insights and opinions with others.</p>
          
        <p>That's why I started this blog - to share my knowledge and experience as a web developer, as well as my enthusiasm for all things tech. Whether you're a fellow developer looking to stay on top of the latest trends, or simply a tech enthusiast curious about the world of digital content, you'll find plenty of valuable information and insights here.</p>
          
        <p>So if you share my passion for all things tech, or if you're simply curious about what the digital world has to offer, be sure to subscribe to my blog and join the conversation! I can't wait to share my knowledge and insights with you.</p>

        <hr style="width: 30%; padding: 1em;">

        <div style="margin: .5em;" class="d-inline-flex position-relative">
          <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
            <span class="visually-hidden">New alerts</span>
          </span>
          <img class="rounded-4 shadow-4" src="/static/img/yemibalogun.png" alt="Avatar" style="width: 50px; height: 50px; border-radius: 100%;">
          
        </div>
        <b><p style="margin: 0;">Yemi Balogun</p> </b> 
        <em style="font-size: small;" class="copyright text-muted">Web Developer</em>
      </div>
    </div>
  </div>

  <hr style="width: 70%; margin: 1.5em auto;">

  {% include "footer.html" %}